<mat-card>
  <mat-card-title>Map</mat-card-title>
  <google-map class="map-container"
              height="{{heightS}}px"
              width="{{widthS}}px"
              [center]="center"
              [zoom]="zoom"
              [options]="optionMap"
              (mapClick)="moveMap($event)"
              (mapMousemove)="move($event)">
              <map-marker
              *ngFor="let marker of markers"
              [position]="marker.position"
              [label]="marker.label"
              [title]="marker.title"
              [options]="marker.options"
            >
            </map-marker>
  </google-map>
</mat-card> 
  
