.demo-inline-card {
  width: 300px;
  margin-bottom: 1rem;
}

mat-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: auto;
  margin-top: 3em;  
}

.info-window-content {
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.map-container {
  flex: 1;
  width: 100%;
  margin: -3px;
}
