header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    // background-color: #f2f2f2;
  }
  .logo{
    margin-left: 22px;
    top: 4px;
  }
  .logo img {
    height: 40px;
  }
  
  .welcome {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }
  .out-btn{
    background-color: #f602aa;
    color:white;
  }
  
  .rate {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  .stars{
    margin-left: .2em;
    font-size: x-large;
  }

  
  
  .star {
    color: #FFC107;
    font-size: xx-large;
  }

  @media (max-width: 450px) {
    .rate {
      display: none;
    }
  }



  button {
    // padding: 0 .2rem;
    // color: #673ab7;
    // // primary
    // border: none;
    // border-radius: 4px;
    // cursor: pointer;
  }
  
  button:hover {
    // background-color: #f602aa;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  mat-sidenav-container{
    height: calc(205vh - 115vh);
  }

  mat-sidenav{
    width: 70px;
  }
  mat-list-item{
    text-align: center;
  }
  mat-list-item:hover{
      background-color: #f602aa;
      justify-items: center;
  }
  .nav-icon{
    color: #673ab7;

  }

  #btn-menu{
    margin-left: 9px;
    // font-size: 31px;
  }
