.center-card {
  margin: auto;
  margin-top: 3em;
  max-width: 22rem;
  /* Change to the desired maximum width */
}
ngb-rating {
  color: #FFC107;
  font-size: xx-large;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

mat-form-field {
  margin: .7em auto;
  position: relative;
  width: 80%;
  display: block;
  justify-content: center;
}

.full-width {
  margin: auto;
  position: relative;
  width: 80%;
  margin: auto;
  display: block;
  justify-content: center;
}