<mat-card class="center-card">
    <mat-card-header>
      <mat-card-title>New Rate</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="rateForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Employer Name</mat-label>
          <input matInput formControlName="employerName" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let parent of filterTypes" [value]="parent.username">
              {{parent.username}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="employerName?.errors?.['required']">Please select an employer from list.</mat-error>
        </mat-form-field>

  
        <mat-form-field appearance="fill">
          <mat-label>Rate</mat-label>
          <input matInput type="number" max="5" formControlName="rating">
          <!-- <ngx-star-rating formControlName="rating" [starCount]="5" [showHalfStars]="false" [size]="'24px'"></ngx-star-rating> -->
          <mat-error *ngIf="rating?.errors?.['required']">Please select a rating.</mat-error>
          <mat-error *ngIf="rating?.errors?.['max']">Can't select more than 5.</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="description?.errors?.['required']">Please enter a description.</mat-error>
        </mat-form-field>
  
        <button type="submit" mat-stroked-button color="primary" class="full-width">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  