mat-card {
    width: 60%;
    min-width: 25rem;
    height: inherit;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

#out-btn {
    background-color: #f602aa;
    color: white;
    margin: .5em .5em;
    margin-left: auto;
}

mat-card> :first-child {
    display: flex;
    flex-direction: row;
}

mat-card>*:not(:first-child) {

    display: block;
    margin: auto;
}

mat-form-field {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

mat-vertical-stepper {
    display: block;
    width: 80%;
    position: relative;
    right: 5%;

}

@media (max-width:420px) {
    mat-card {
        width: 100%;
    }
    mat-vertical-stepper {
        display: block;
        width: 100%;
        padding-right: 0px;

    }
}



.img {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2em;
}

img {
    border-radius: 11em;
}

.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

h3 {
    margin-top: 1em;
    text-align: center;
}

strong {
    text-align: left;
    display: inline-block;
    width: 100px;
}

div {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#submit {
    display: block;
    color: #673ab7;
    margin-right: 1em;
}

