mat-card {
    margin: auto;
    margin-top: 3em;
    max-width: 22rem;
    margin-bottom: 3em;
}
mat-card-header {
    margin-bottom: .5em;
    justify-content: center;
}


mat-form-field {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.full-width {
    margin: auto;
    position: relative;
    width: 100%;
    margin: auto;
    display: block;
    justify-content: center;
    color:#673ab7;
    margin-bottom: 1.5em;
  }
.img{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2em;
}

img{
    border-radius: 11em; 
}

a {
    text-decoration: none;
  }
  
  a:hover {
    color: #FFB347;
  }