.mat-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin: auto;
    text-align: start;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.primary {
    background-color: #adadad ;
    margin-top: .5em;
}