<mat-card class="center-card">
  <mat-card-header>
    <mat-card-title>Add Offer</mat-card-title>
  </mat-card-header>
  <form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <!-- <mat-form-field>
        <input matInput [matDatepicker]="startTimePicker" formControlName="startTime" placeholder="Start Time">
        <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #startTimePicker></mat-datepicker>
        <mat-error *ngIf="startTime?.invalid && startTime?.touched">Start time is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="finishTimePicker" formControlName="finishTime" placeholder="Finish Time">
        <mat-datepicker-toggle matSuffix [for]="finishTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #finishTimePicker></mat-datepicker>
        <mat-error *ngIf="finishTime?.errors?.['required']">Finish time is required.</mat-error>
      </mat-form-field> -->

      <mat-form-field >
        <input matInput [matDatepicker]="picker1" [min]="minDate" formControlName="dateTime" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="dateTime?.errors?.['required']">date is required.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput [ngxMatTimepicker]="picker2" [min]="minHoursStart()" placeholder="Start Time" [format]="24" formControlName="startTime" (click)="picker2.open()">
        <ngx-mat-timepicker-toggle matSuffix [for]="picker2"></ngx-mat-timepicker-toggle>
        <ngx-mat-timepicker [minutesGap]="15" #picker2></ngx-mat-timepicker>
        <mat-error *ngIf="startTime?.errors?.['required']">Start time is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [ngxMatTimepicker]="picker4" [min]="startTime?.value" [format]="24" placeholder="End Time" formControlName="finishTime" (click)="picker4.open()">
        <ngx-mat-timepicker-toggle matSuffix [for]="picker4"></ngx-mat-timepicker-toggle>
        <ngx-mat-timepicker [minutesGap]="15" #picker4></ngx-mat-timepicker>
        <mat-error *ngIf="finishTime?.errors?.['required']">Finish time is required.</mat-error>
      </mat-form-field>
      
      
      <mat-form-field>
        <input matInput type="number" formControlName="payment" placeholder="Payment">
        <mat-icon matSuffix>attach_money</mat-icon>
        <mat-error *ngIf="payment?.errors?.['required']">Payment must be a number.</mat-error>
      </mat-form-field>
      <mat-error *ngIf="this.showError">start/finish time is invalid.</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">submit</button>
    </mat-card-actions>
  </form>

</mat-card>